<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline">
            <li><a href="/">Home</a></li>
            <li class="footer-menu-divider">⋅</li>
            <li><a href="/mentors">Forums</a></li>
            <li class="footer-menu-divider">⋅</li>
            <li><a href="/fellows">Topics</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-right">
          <ul class="list-inline">
            <li><a href="">© 2015 Deborah Enoma</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
